@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

html, body {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("../assets/img/memphis-colorful.png");
}

a {
  text-decoration: none;
  color: black;
}